@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ffffff;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
    background-image: url(abstract-background-with-colorful-puffs-smoke-generative-ai.jpg);
    background-size: 1920px 1080px;
}

.username {
    font-size: 2rem;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.password {
    font-size: 2rem;
    justify-content: center;
    display: flex;
}

input {
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    margin-left: 10px;
}

button {
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    margin: auto;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 50px;
}

p {
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
}

a {
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.65)
    );
  padding: 20px 0;
    color: #FFFFFF;
}

.header {
    justify-content: center;
    align-items: center;
    display: flex;
}
